<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outbox</title>
    <link rel="stylesheet" href="/style/emails.css" type="text/css">
</head>
<body>
    <div class="navbar">
        <h2> <%= typeof fullname !=="undefined" && fullname ? fullname : "" %></h2>
        <a href="/compose-message">Compose message</a>
        <a href="/">Inbox</a>
        <a href="/logout">Sign out</a>
    </div>

    <% if (typeof(error) !=="undefined" && error) { %>
        <span style="color: red;">
            <%= error %>
        </span>
    <% } %>

    <div class="section">
        <% if (typeof data !=="undefined" && data.items.length) { const items=data.items; %>
            <form id="delete-form">
                <button type="submit">Delete</button>
                <input name="deleteAction" value="sender" hidden />
                <table id="content-table">
                    <tr>
                        <th></th>
                        <th>Receiver</th>
                        <th>Title</th>
                        <th>Message</th>
                        <th>Send at</th>
                    </tr>
                    <% for ( var i=0; i < items.length; i++ ) { %>
                        <tr id="row-<%= items[i].id %>">
                            <td><input class="checkbox" type="checkbox" id="<%= items[i].id %>" name="ids" value="<%= items[i].id %>"></td>
                            <td><%= items[i].receiverName %></td>
                            <td id="title-content">
                                <% if(items[i].title == '') { %>
                                    (No Subject)
                                <% } else { %>
                                    <%= items[i].title %>
                                <% } %>
                            </td>
                            <td class="message-cell"><%= items[i].message %></td>
                            <td>
                                <%= Intl.DateTimeFormat(undefined, { 
                                    timeStyle: "medium",
                                    dateStyle: "medium",
                                }).format(new Date(items[i].sendAt)) %>
                            </td>
                        </tr>
                    <% } %>
                </table>
            </form>
        <% } %>
        <% if (typeof data !== "undefined" && data.totalPage) { const totalPage = data.totalPage; %>
            <div id="pagination">
                <% for (var i = 1; i <= totalPage; i++) { %>
                <a href="/outbox?pageNumber=<%= i %>">
                    <%= i %>
                </a>
                <% } %>
            </div>
            <% } %>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const form = document.getElementById("delete-form");
            form.addEventListener("submit", (event) => {
                event.preventDefault();
                const ids = document.getElementsByName("ids");
                const deleteAction = document.getElementsByName("deleteAction");
                const data = {
                    ids: [],
                    deleteAction: deleteAction[0].value,
                };
                ids.forEach(id => {
                    if (id.checked) {
                        data.ids.push(id.value);
                    }
                });
                const params = new URLSearchParams();
                params.set("action", data.deleteAction);
                data.ids.forEach(id => {
                    params.append("ids", id);
                });
                fetch("/api/delete/?" + params.toString(), {
                    method: "DELETE",
                }).then(res => res.json()).then(res => {
                    data.ids.forEach(id => {
                        const row = document.getElementById("row-" + id);
                        row.remove();
                    });
                });
            });

            const contentTable = document.getElementById("content-table");
            contentTable.addEventListener("click", (event) => {
                const target = event.target;
                const row = target.closest("tr");
                if (row && !target.matches("input[type=checkbox]")) {
                    const messageId = row.id.split("-")[1];
                    window.location.href = `/message/${messageId}`;
                }
            });
        });
    </script>
</body>
</html>
